ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      --ion-grid-column-padding: 10px;
      background-color:  #292e32;
      font-weight: bold;
      color:white;
      display:flex;
     
    }
   
    ion-col {
      border: 1px solid #292e32;
      border-bottom: 0;
      border-right: 0;
      display:flex;
      
    }
    ion-col:last-child {
       border-right: 1px solid #292e32;
      display:flex;
     
    }
    
    ion-row:last-child {
      border-bottom: 1px solid #292e32;
      display:flex;
    }
  }

  .content_card{
    font-size: 11px !important;
    padding-right: 2px;
    }
    #icon{
     margin-top: 1%;
     margin-right: 1%;
     color:black;
     position:absolute;
     top:0;
     right:0;
     padding:3;

 }
 #icon1{
  margin-top: 1%;
  margin-right: 10%;
  color:#008b8b;
  position:absolute;
  top:0;
  right:0;
  padding:3;
}
#icon2{
  margin-top: 1%;
  margin-right: 20%;
  color:#4b4f68;
  position:absolute;
  top:0;
  right:0;
  padding:3;
}
#icon3{
  margin-top: 1%;
  margin-right: 30%;
  position:absolute;
  top:0;
  right:0;
  padding:3;
}
.icons{
  padding:3%;
}
ion-card-content{
  padding-left: 0px;
  padding-right: 0px;
}
ion-label{
  padding-left:0px ;
}
ion-button{
  --background:#7774e7;
}