<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="main font_18"> Start W.K. Production</ion-title>
    <ion-button slot="end" [routerLink]="['/wk-production-add']" large >
      <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search Machine No." [(ngModel)]="term" animated="true" (click)="getFilterdata()"></ion-searchbar>
  <ion-card class="ion-card-list" *ngFor="let wk of production | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }">
    <ion-card-content >
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Start Date</ion-title>
        <ion-label>{{ wk.created_date}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">WK Production Order No.</ion-title>
        <ion-label>{{ wk.greige_production_transaction_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Machine No.</ion-title>
        <ion-label>{{ wk.machine_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">No. of Taaka</ion-title>
        <ion-label>{{ wk.no_of_taaka }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Status</ion-title>
        <ion-label [ngClass]="{'yellow_color':wk.process_status_display=='Completed','green_color':wk.process_status_display=='Running'}">{{ wk.process_status_display }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Remarks</ion-title>
        <ion-label>{{ wk.remarks }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Action</ion-title>
        <ion-label>
          <ion-icon class="pr3 font_18" name="eye-outline"  (click)="view(wk.id,'view')"></ion-icon>
          <ion-icon name="create-outline" class="pr3 edit_icon font_18" (click)="view(wk.id,'edit');machine_master()" *ngIf="wk.process_status_display=='Running'"></ion-icon>

        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

<div class="list" *ngIf="production && production.length >0 ">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
</ion-content>
