<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Machine Master</ion-title>
    <ion-button slot="end" [routerLink]="" large >
      <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card-list" *ngFor="let machine of collection | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }">
    <ion-card-content>
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Machine Number</ion-title>
        <ion-label>{{ machine.number}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Machine Type</ion-title>
        <ion-label>{{ machine.machine_type_name }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Installation Date</ion-title>
        <ion-label>{{ machine.machine_installation_date }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Remarks</ion-title>
        <ion-label>{{ machine.remarks }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Status</ion-title>
        <ion-label>{{ machine.active }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Action</ion-title>
        <ion-label class="font_18">
          <!-- <ion-icon name="eye-outline" (click)="view(product.id)"></ion-icon> -->
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

<div class="list">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
</ion-content>
