<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>ACE</ion-title>
    <ion-button slot="end" [routerLink]="['/production-log']" large >
      <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>Machine Number</ion-col>
      <ion-col>Machine Master</ion-col>
      <ion-col>Installation Date</ion-col>
      <ion-col>Remarks</ion-col>
      <ion-col>Status</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let guard of guarddata">
      <ion-col>{{ guard.name }}</ion-col>
      <ion-col>{{ guard.phone }}</ion-col>
      <!-- <ion-col>{{ guard.daily_status }}</ion-col> -->
      <ion-col>
        <ion-label *ngIf="guard.t_status">{{guard.t_status}}</ion-label>
        <ion-button (click)="book(guard.id)" *ngIf="guard.t_status == ''">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
