.center{
    text-align: center;
    color:white ;
}
.register_btn{
  text-align: center;  
  --background: #fe5f55;
  margin-top: 3%;
  width: 100%;
  color: white;
}
.scroll-content{
    --background:white;
  }
ion-item{
      --background: white;
      color:#fe5f55 ;
}
ion-icon{
    color:#fe5f55 ;
}
ion-toolbar{
    --background: #fe5f55;
    text-align: center;
    color: white;
}
ion-button{
    --background: #fe5f55; 
    color:white;
}
h1{
    color:#fe5f55
}