<ion-header>
  <ion-toolbar>
    <ion-title>ACE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
  <!-- <ngx-barcode [bc-value]="qr_code" [bc-display-value]="true"></ngx-barcode> -->
  <qrcode [qrdata]="qr_code" [size]="256" [level]="'M'"></qrcode>
</ion-col>
  <ion-col>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-6>
  <ion-label >Roll Number</ion-label>
</ion-col>
<ion-col col-6>
  <ion-label >{{roll_no}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-6>
  <ion-label >Roll Cut</ion-label>
</ion-col>
<ion-col col-6>
  <ion-label >{{roll_no}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-6>
  <ion-label >Roll Weight</ion-label>
</ion-col>
<ion-col col-6>
  <ion-label >{{roll_weight}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-6>
  <ion-label >Lot Number</ion-label>
</ion-col>
<ion-col col-6>
  <ion-label >{{lot_no}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-6>
  <ion-label >Roll Number</ion-label>
</ion-col>
<ion-col col-6>
  <ion-label >{{roll_no}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-3>
  <ion-label >Takka Number</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{taka_no}}</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >Color</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{color}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-3>
  <ion-label >Greige Article</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{article}}</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >Width</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{color}}</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-3>
  <ion-label >Operator</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{operator}}</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >Shift</ion-label>
</ion-col>
<ion-col col-3>
  <ion-label >{{shift}}</ion-label>
</ion-col>
</ion-row>

 <ion-row>
    <ion-col>
  <ion-button class="modal_button" (click)="closeModel()">Close</ion-button>
</ion-col>
<ion-col></ion-col>
</ion-row>
</ion-content>
