<ion-header>
  <ion-toolbar>
    <ion-title>QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="flag_qr == 'inward_view'">
    <ion-col></ion-col>
    <ion-col>
      <!-- <ngx-barcode [bc-value]="qr_code" [bc-display-value]="true"></ngx-barcode> -->
      <h3>QR CODE DETAILS</h3>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <div *ngIf="flag_qr == 'inward_dashboard'">
   <ion-card class="ion-card-list" *ngFor="let data_inward_production of inward_production">
    <ion-card-content>
      <ion-item class="qrcode">
        <qrcode [qrdata]="data_inward_production.qr_code" [size]="256" [level]="'M'"></qrcode>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">QR Code</ion-title>
        <ion-label>{{ data_inward_production.qr_code }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Lot No.</ion-title>
        <ion-label>{{ data_inward_production.lot_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Roll Width</ion-title>
        <ion-label>{{ data_inward_production.roll_width }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Article</ion-title>
        <ion-label>{{ data_inward_production.greige_article_name }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Color</ion-title>
        <ion-label>{{ data_inward_production.greige_color_name }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>  
  </div>

  <div *ngIf="flag_qr == 'inward_view'">
    <ion-card class="ion-card-list">
     <ion-card-content>
       <ion-item class="qrcode">
         <qrcode [qrdata]="inward_view.qr_code" [size]="256" [level]="'M'"></qrcode>
       </ion-item>
 
       <ion-item class="content_card">
         <ion-title class="content_card" slot="start">Roll No.</ion-title>
         <ion-label>{{ inward_view.qr_code }}</ion-label>
       </ion-item>

       <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Roll Cut</ion-title>
        <ion-label>{{ inward_view.length_in_meter }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Roll Weight</ion-title>
        <ion-label>{{ inward_view.weight_in_kg }}</ion-label>
      </ion-item>
 
       <ion-item class="content_card">
         <ion-title class="content_card" slot="start">Lot No.</ion-title>
         <ion-label>{{ inward_view.greige_lot_number }}</ion-label>
       </ion-item>

       <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Takka No.</ion-title>
        <ion-label>{{ inward_view.taaka_or_piece_number }}</ion-label>
      </ion-item>
 
       <ion-item class="content_card">
         <ion-title class="content_card" slot="start">Roll Width</ion-title>
         <ion-label>{{ inward_view.roll_width }}</ion-label>
       </ion-item>
 
       <ion-item class="content_card">
         <ion-title class="content_card" slot="start">Greige Article</ion-title>
         <ion-label>{{ inward_view.greige_article_name }}</ion-label>
       </ion-item>
 
       <ion-item class="content_card">
         <ion-title class="content_card" slot="start">Greige Color</ion-title>
         <ion-label>{{ inward_view.greige_color_name }}</ion-label>
       </ion-item>

       <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Operator Name</ion-title>
        <ion-label>{{ inward_view.inward_info.operator_name }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Shift</ion-title>
        <ion-label>{{ inward_view.shift }}</ion-label>
      </ion-item>
     </ion-card-content>
   </ion-card>  
   </div>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button class="modal_button" (click)="closeModel()">Close</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>