<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ACE</ion-title>
    <ion-button slot="end" [routerLink]="['/production-log']" large>
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card-list" *ngFor="let product of collection | paginate: { itemsPerPage: 10, currentPage: p }">
    <ion-card-content>
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Start Date</ion-title>
        <ion-label>{{ product.created_date}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Production Order No</ion-title>
        <ion-label>{{ product.greige_production_transaction_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Machine No.</ion-title>
        <ion-label>{{ product.machine_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Operator</ion-title>
        <ion-label>{{ product.operator_first_name }} {{product.operator_last_name}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">WPR Status</ion-title>
        <ion-label>{{ product.process_status_display }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Action</ion-title>
        <ion-label>
          <ion-icon name="eye-outline" (click)="view(product.id)"></ion-icon>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

<div class="list">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</ion-content>