<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  class="back" (click)="history.go(-1);"></ion-back-button>
      </ion-buttons>
    <ion-title>ACE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-content">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h1 class="center">Add W.K. Inward From Production</h1>
          <ion-label *ngIf="view">Transaction Number {{ transaction_number }} <ion-icon name="copy-outline" (click)="copyTransaction(transaction_number)"></ion-icon></ion-label>
        </div>
        <div padding>
          <ion-item>
            <ion-icon name="settings-outline" class="pr3"></ion-icon>
            <ion-label *ngIf="!view" >Select Machine Number</ion-label>
            <ion-select [(ngModel)]="machine_number" (ionChange)="machine_master()" *ngIf="!view">
              <ion-select-option value="">--Select--</ion-select-option>
              <ion-select-option [value]="machine.id" *ngFor="let machine of inward_production_data" >{{machine.machine_number}}</ion-select-option>
            </ion-select>
            <ion-input name="order_no" type="text" [(ngModel)]="machine_number" readonly *ngIf="view"></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number">
            <ion-icon name="information-circle-outline"  class="pr3"></ion-icon>
            <ion-input name="order_no" type="text" placeholder="Greige Pro Order No." [(ngModel)]="greige_production_transaction_number" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number">
            <ion-icon name="mail-outline"  class="pr3"></ion-icon>
            <ion-input name="article" type="text" placeholder="Greige Article" [(ngModel)]="greige_article_name" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number">
            <ion-icon name="color-palette-outline" class="pr3"></ion-icon>
            <ion-input name="article" type="text" placeholder="Greige Color" [(ngModel)]="greige_color_name" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number">
            <ion-icon name="logo-dropbox" class="pr3"></ion-icon>
            <ion-input name="article" type="text" placeholder="Quantity" [(ngModel)]="quantity" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number">
            <ion-icon name="person-outline" class="pr3"></ion-icon>
            <ion-input name="operator" type="text" placeholder="Operator" [(ngModel)]="operator_name" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="machine_number && !view">
            <ion-checkbox [(ngModel)]="mushrooms"></ion-checkbox>
            <p class="pr3" style="padding-left:3%"> Same End Meter for all rolls</p>
          </ion-item>
          <ion-card class="ion-card-list" *ngFor="let inward of inward_item">
            <ion-card-content *ngIf="view">
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">Greige Roll No.</ion-title>
                <ion-label>{{ inward.qr_code}}</ion-label>
              </ion-item>
        
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">Greige Roll Width.</ion-title>
                <ion-label>{{ inward.roll_width }}</ion-label>
              </ion-item>
        
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">Greige Roll Length</ion-title>
                <ion-label>{{ inward.length_in_meter }}</ion-label>
              </ion-item>
        
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">Greige Roll Weight</ion-title>
                <ion-label>{{ inward.weight_in_kg }}</ion-label>
              </ion-item>
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">Lot No.</ion-title>
                <ion-label>{{ inward.width_unit }}</ion-label>
              </ion-item>
              <ion-item class="content_card">
                <ion-title class="content_card" slot="start">QR Code</ion-title>
                <ion-label class="font_22" (click)="openIonModal(inward.qr_code)"><ion-icon name="barcode"></ion-icon>
                </ion-label>
              </ion-item>
              </ion-card-content>
              </ion-card>
             
            <ion-grid *ngIf="machine_number && !view" class="production_detail">
              <ion-item>
                <ion-text class="pr3">TAKA A</ion-text>
              </ion-item>
          <ion-item>
            <ion-icon name="timer-outline"></ion-icon>
            <ion-input name="roll_width" type="text" placeholder="Roll Width" [(ngModel)]="width_A" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="timer-outline"></ion-icon>
            <ion-input name="start_meter" type="text" placeholder="Start Meter" [(ngModel)]="start_meter_A" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="time-outline"></ion-icon>
            <ion-input name="end_meter" type="text" placeholder="End Meter" [(ngModel)]="end_meter_A" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="cut-outline" class="pr3"></ion-icon>
            <ion-input name="roll_cut" type="text" placeholder="Roll Cut" [(ngModel)]="roll_cut_A" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="grid-outline" class="pr3"></ion-icon>
            <ion-input name="weight" type="text" placeholder="Weight" [(ngModel)]="weight_A" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="grid-outline" class="pr3"></ion-icon>
            <ion-input name="lot_no" type="text" placeholder="Lot No." [(ngModel)]="lot_no_A" required></ion-input>
          </ion-item>
            <div padding class="register_btn" *ngIf="machine_number">
              <ion-button size="large" *ngIf="!view" (click)="stickerA()">Add and Generate Sticker</ion-button>
            </div>
          
         </ion-grid>
         <ion-grid *ngIf="machine_number && !view">
          <ion-item>
            <ion-text class="pr3">TAKA B</ion-text>
          </ion-item>
          <ion-item>
            <ion-icon name="timer-outline"></ion-icon>
            <ion-input name="roll_width" type="text" placeholder="Roll Width" [(ngModel)]="width_B" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="timer-outline"></ion-icon>
            <ion-input name="start_meter" type="text" placeholder="Start Meter" [(ngModel)]="start_meter_B" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="time-outline"></ion-icon>
            <ion-input name="end_meter" type="text" placeholder="End Meter" [(ngModel)]="end_meter_B" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="cut-outline" class="pr3"></ion-icon>
            <ion-input name="roll_cut" type="text" placeholder="Roll Cut" [(ngModel)]="roll_cut_B" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="grid-outline" class="pr3"></ion-icon>
            <ion-input name="weight" type="text" placeholder="Weight" [(ngModel)]="weight_B" required></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <ion-icon name="grid-outline" class="pr3"></ion-icon>
            <ion-input name="lot_no" type="text" placeholder="Lot No." [(ngModel)]="lot_no_B" required></ion-input>
          </ion-item>
          <!-- <ion-item>
          </ion-item> -->
        </ion-grid>
        
        </div>
        <div padding class="register_btn" *ngIf="machine_number">
          <ion-button size="large" *ngIf="!view" (click)="stickerB()">Add and Generate Sticker</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p style="padding-left:3%" *ngIf="machine_number && !view">Total Production Till Now:</p>
  <ion-item *ngIf="machine_number && !view">
    <ion-icon name="color-palette-outline" class="pr3"></ion-icon>
    <ion-input name="article" type="text" placeholder="Total Weight" [(ngModel)]="total_qty_produced" readonly></ion-input>
  </ion-item>
  <ion-item *ngIf="machine_number && !view">
    <ion-icon name="color-palette-outline" class="pr3"></ion-icon>
    <ion-input name="article" type="text" placeholder="Total Length" [(ngModel)]="total_length_produced" readonly></ion-input>
  </ion-item>

  <ion-card class="ion-card-list" *ngFor="let prod of greige_item">
    <ion-card-content *ngIf="!view">
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Roll No.</ion-title>
        <ion-label>{{ prod.qr_code}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Roll Width.</ion-title>
        <ion-label>{{ prod.roll_width }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Roll Length</ion-title>
        <ion-label>{{ prod.length_in_meter }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Greige Roll Weight</ion-title>
        <ion-label>{{ prod.weight_in_kg }}</ion-label>
      </ion-item>
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Lot No.</ion-title>
        <ion-label>{{ prod.width_unit }}</ion-label>
      </ion-item>
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">QR Code</ion-title>
        <ion-label class="font_22" (click)="openIonModal(prod.qr_code)"><ion-icon name="barcode"></ion-icon>
        </ion-label>
      </ion-item>
      </ion-card-content>
      </ion-card>
      <div padding class="register_btn" *ngIf="machine_number">
        <ion-button *ngIf="!view" (click)="save()">Save</ion-button>
        <ion-button *ngIf="!view" (click)="endprod()">End Production Order And Save</ion-button>
      </div>
</ion-content>

