
.scroll-content{
  --background:white;
}


ion-button{
  --background: #fe5f55;
}
.content_card{
font-size: 11px !important;
}
.list {
max-width: 550px;
margin: auto;
}

li {
margin-bottom: 5px;
}

.pagination a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}




