<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="main font_18"> Inward From Production</ion-title>
    <ion-button slot="end" [routerLink]="['/add-inward-production']" large >
      <ion-icon name="add-circle" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Search Machine No." [(ngModel)]="term" animated="true" (click)="getFilterdata()"></ion-searchbar>
  <ion-card class="ion-card-list" *ngFor="let inward of product | paginate: { itemsPerPage: 10, currentPage: p,totalItems: total }">
    <ion-card-content >
      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">GIP No.</ion-title>
        <ion-label>{{ inward.transaction_number}}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Date</ion-title>
        <ion-label>{{ inward.created_date }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Machine No.</ion-title>
        <ion-label>{{ inward.machine_info.machine_number }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Operator</ion-title>
        <ion-label>{{ inward.operator_name }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">No. of Taaka</ion-title>
        <ion-label>{{ inward.machine_info.no_of_taaka }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Status</ion-title>
        <ion-label [ngClass]="{'yellow_color':inward.process_status_display=='Completed','green_color':inward.process_status_display=='Running'}">{{ inward.process_status_display }}</ion-label>
      </ion-item>

      <ion-item class="content_card">
        <ion-title class="content_card" slot="start">Action</ion-title>
        <ion-label>
          <ion-icon class="pr3 font_18" name="eye-outline"  (click)="view(inward.id,'view')"></ion-icon>
          <ion-icon name="create-outline" class="pr3 edit_icon font_18" (click)="view(inward.id,'edit');machine_master()" *ngIf="inward.process_status_display=='Running'"></ion-icon>
          <ion-icon class="pr3 font_18" name="qr-code-outline" (click)="qrmodal(inward.id)"></ion-icon>

        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

<div class="list" *ngIf="product && product.length >0 ">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
</ion-content>
