.center{
    text-align: center;
    color:#1a181f ;
}
.text-left{
    text-align: unset  !important;
}

.register_btn{
  text-align: center;  
  --background: #1a181f;
  margin-top: 7%;
  width: 100%;
}
.scroll-content{
    --background:#95caf3 url('../../assets/icon/logo.png')  no-repeat center 15% fixed;
    display: table-header-group;
  }
ion-item{
      --background: #95caf3;
      color:white ;
}
ion-icon{
    color:white ;
}
ion-button{
    --background: #155c95; 
    width: inherit;
}
p{
    text-align: right;
    color:white ;
}
ion-grid{
    margin-top: 40%;
   
}
ion-toolbar{
    --background: #155c95;  
    color: white;
    text-align: center;
}