<ion-app>
  <ion-menu side="start" contentId="main-menu">
    <ion-header>
      <ion-title size="small"><img src="../../assets/icon/logo.png" class="img"></ion-title>
      <ion-row>
        <ion-label class="username grey_color"></ion-label>
      </ion-row>
    </ion-header>
     
      <ion-row>
        <ion-col>
          <ion-label class="branch grey_color"></ion-label>
        </ion-col>
        <ion-col>
          <ion-select class="grey_color" (ionChange)="get_department($event)" [value]='department'>
          <ion-select-option class="department"></ion-select-option>
          <ion-select-option class="department1"></ion-select-option>
        </ion-select>
        </ion-col>
      </ion-row>
    

    <ion-content class="menu_list">
      
      <ion-list>
        <app-menu-item
          *ngFor="let menuItem of menu"
          [menuItem]="menuItem"
          [isRoot]="true"
        ></app-menu-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>

</ion-app>