ion-header{
    padding: 1rem;
    padding-top: calc(var(--ion-safe-area-top) + 1.5rem);
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	padding-left: 0.5rem;
    background:  #292e32;
}
ion-item{
    --background: #292e32;
    color:white;  
}
ion-content{
    --background: #292e32;
    color:white;    
}
ion-list{
    background: #292e32;
    color:white;  
}
.img{
    width:50%;
}
ion-icon{
    color: white;
}
ion-row{
    background: #292e32;
    color:white;  
    
}
ion-col{
    background: #292e32;
    color:white;  
    text-align: center;
}
.username{
    text-transform: uppercase;
    text-align: center;
}

