.center {
  text-align: center;
  color: #515365;
}
.register_btn {
  text-align: center;
  --background: #7774e7;
  margin-top: 3%;
  width: 100%;
  color: white;
}
.scroll-content {
  --background: white;
}
ion-item {
  --background: white;
  color: grey;
}
ion-icon {
  color: #607d8b;
}
ion-button {
  --background: #7774e7;
  color: white;
}
.content_card {
  font-size: 11px;
}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  text-overflow: unset !important; 
  white-space: unset !important;
}